# Visual Studio files
.vs/
*.user
*.suo
*.userosscache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# NuGet
[Nn]uget/
*.nupkg
packages/

# .NET Core
project.lock.json
artifacts/

# Miscellaneous
*.cache
*.log
[Tt]est[Rr]esult*/
TaskManagementAPI/tasks.db
